################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SGC/obj/Release/SGC.csproj.CoreCompileInputs.cache
