################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SGC/obj/Release/SGC.csproj.CoreCompileInputs.cache
/.vs/SGC/config/applicationhost.config
/.vs/SGC/v16/Server/sqlite3
/.vs/SGC/v16
/.vs/SIGECI/v16
/.vs
