USE [GS_Respaldo]
GO
/****** Object:  Table [dbo].[autprima]    Script Date: 09/mar./2020 11:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autprima](
	[rmdb_rn] [int] NOT NULL,
	[ofna_ap] [smallint] NOT NULL,
	[ramos_ap] [smallint] NOT NULL,
	[t_end_ap] [char](1) NOT NULL,
	[poliza_ap] [int] NOT NULL,
	[endoso_ap] [int] NOT NULL,
	[inciso_ap] [int] NOT NULL,
	[serie_ap] [char](30) NOT NULL,
	[nummot_ap] [char](25) NOT NULL,
	[moneda_ap] [smallint] NOT NULL,
	[numveh_ap] [int] NOT NULL,
	[numvers_ap] [smallint] NOT NULL,
	[numtari_ap] [smallint] NOT NULL,
	[cobamlim_ap] [smallint] NOT NULL,
	[feinvi_ap] [date] NOT NULL,
	[fetevi_ap] [date] NOT NULL,
	[capaci_ap] [decimal](4, 2) NOT NULL,
	[modelo_ap] [smallint] NOT NULL,
	[valcom_ap] [decimal](14, 2) NOT NULL,
	[sumada_ap] [decimal](14, 2) NOT NULL,
	[ocupan_ap] [smallint] NOT NULL,
	[tipcar_ap] [char](1) NOT NULL,
	[tipovehi_ap] [smallint] NOT NULL,
	[paquete_ap] [smallint] NOT NULL,
	[uso_ap] [smallint] NOT NULL,
	[servicio_ap] [smallint] NOT NULL,
	[martip_ap] [char](65) NOT NULL,
	[impgamed_ap] [char](1) NOT NULL,
	[aseesp_ap] [char](50) NOT NULL,
	[pordes_ap] [decimal](4, 2) NOT NULL,
	[prinet_ap] [decimal](16, 2) NOT NULL,
	[numeco_ap] [char](6) NOT NULL,
	[textos1_ap] [smallint] NOT NULL,
	[textos2_ap] [smallint] NOT NULL,
	[textos3_ap] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cli_nac]    Script Date: 09/mar./2020 11:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cli_nac](
	[cve_cli] [int] NULL,
	[suc_emi] [smallint] NULL,
	[fis_mor] [char](1) NULL,
	[nom_cli] [varchar](100) NULL,
	[ape_pat] [varchar](100) NULL,
	[ape_mat] [varchar](100) NULL,
	[raz_soc] [varchar](250) NULL,
	[ane_cli] [char](1) NULL,
	[rfc_cli] [char](13) NULL,
	[cve_ele] [char](18) NULL,
	[curpcli] [char](18) NULL,
	[sexocli] [smallint] NULL,
	[edo_civ] [smallint] NULL,
	[cal_cli] [varchar](250) NULL,
	[num_cli] [varchar](250) NULL,
	[cod_pos] [int] NULL,
	[colonia] [varchar](250) NULL,
	[municip] [smallint] NULL,
	[poblaci] [varchar](250) NULL,
	[cve_est] [smallint] NULL,
	[fec_nac] [date] NULL,
	[nac_ext] [char](1) NULL,
	[ocu_pro] [smallint] NULL,
	[act_gir] [smallint] NULL,
	[telefo1] [char](15) NULL,
	[telefo2] [char](15) NULL,
	[telefo3] [char](15) NULL,
	[cor_ele] [varchar](250) NULL,
	[pag_web] [varchar](250) NULL,
	[can_con] [smallint] NULL,
	[fue_ing] [varchar](100) NULL,
	[adm_con] [char](1) NULL,
	[car_pub] [char](1) NULL,
	[nom_car] [varchar](100) NULL,
	[per_car] [varchar](100) NULL,
	[apo_cli] [char](1) NULL,
	[dom_ori] [varchar](250) NULL,
	[num_pas] [char](20) NULL,
	[usu_cap] [int] NULL,
	[usu_aut] [int] NULL,
	[fec_alt] [date] NULL,
	[fec_act] [date] NULL,
	[sta_cli] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cobprima]    Script Date: 09/mar./2020 11:28:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cobprima](
	[rmdb_rn] [int] NOT NULL,
	[ofna_cp] [smallint] NOT NULL,
	[ramos_cp] [smallint] NOT NULL,
	[t_end_cp] [char](1) NOT NULL,
	[poliza_cp] [int] NOT NULL,
	[endoso_cp] [int] NOT NULL,
	[ubica_cp] [int] NOT NULL,
	[cobertura_cp] [smallint] NOT NULL,
	[seccion_cp] [smallint] NOT NULL,
	[moneda_cp] [smallint] NOT NULL,
	[ramo_esp_cp] [smallint] NOT NULL,
	[sumase_esp_cp] [decimal](14, 2) NOT NULL,
	[cuota_cp] [decimal](10, 7) NOT NULL,
	[prima_bru_cp] [decimal](13, 2) NOT NULL,
	[bonificac_cp] [decimal](13, 2) NOT NULL,
	[prima_esp_cp] [decimal](13, 2) NOT NULL,
	[comision_esp_cp] [decimal](11, 2) NOT NULL,
	[tipo_cp] [smallint] NOT NULL,
	[sumaper_cp] [decimal](14, 2) NOT NULL,
	[porded_cp] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crecibo]    Script Date: 09/mar./2020 11:28:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crecibo](
	[rmdb_rn] [int] NOT NULL,
	[num_suc] [smallint] NOT NULL,
	[num_ram] [smallint] NOT NULL,
	[num_pol] [int] NOT NULL,
	[num_rec] [smallint] NOT NULL,
	[tip_end] [char](1) NOT NULL,
	[num_end] [int] NOT NULL,
	[num_mon] [smallint] NOT NULL,
	[tip_rec] [char](1) NOT NULL,
	[prima] [decimal](14, 2) NOT NULL,
	[iva] [decimal](14, 2) NOT NULL,
	[recargo] [decimal](14, 2) NOT NULL,
	[derecho] [decimal](14, 2) NOT NULL,
	[bonific] [decimal](14, 2) NOT NULL,
	[saldo] [decimal](14, 2) NOT NULL,
	[pri_com] [decimal](14, 2) NOT NULL,
	[com_pri] [decimal](14, 2) NOT NULL,
	[com_rec] [decimal](14, 2) NOT NULL,
	[act_rec] [int] NOT NULL,
	[tot_rec] [int] NOT NULL,
	[num_cli] [int] NOT NULL,
	[num_agt] [int] NOT NULL,
	[statusr] [char](1) NOT NULL,
	[fec_sta] [date] NOT NULL,
	[fec_emi] [date] NOT NULL,
	[fec_ini] [date] NOT NULL,
	[fec_ter] [date] NOT NULL,
	[fec_pag] [date] NOT NULL,
	[pri_dot] [decimal](14, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rdis_pro]    Script Date: 09/mar./2020 11:28:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rdis_pro](
	[num_dis] [int] NULL,
	[cve_con] [int] NULL,
	[tip_con] [int] NULL,
	[ram_rea] [int] NULL,
	[gru_rea] [int] NULL,
	[cla_tip] [int] NULL,
	[ofi_emi] [int] NULL,
	[ram_pol] [int] NULL,
	[tip_end] [varchar](200) NULL,
	[num_pol] [int] NULL,
	[num_end] [int] NULL,
	[num_inc] [int] NULL,
	[niv_ret] [int] NULL,
	[num_mon] [int] NULL,
	[pri_dis] [varchar](200) NULL,
	[sum_dis] [varchar](200) NULL,
	[fec_emi] [date] NULL,
	[ini_vig] [date] NULL,
	[fin_vig] [date] NULL,
	[sta_dis] [varchar](200) NULL,
	[num_ddi] [int] NULL,
	[num_pla] [int] NULL,
	[ano_con] [int] NULL,
	[mes_con] [int] NULL,
	[aux_nu1] [int] NULL,
	[aux_nu2] [int] NULL,
	[aux_nu3] [int] NULL,
	[aux_nu4] [int] NULL,
	[aux_nu5] [varchar](200) NULL,
	[aux_nu6] [varchar](200) NULL,
	[fec_dis] [date] NULL,
	[usu_reg] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sindicador]    Script Date: 09/mar./2020 11:28:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sindicador](
	[suc_adm] [smallint] NOT NULL,
	[ram_pur] [smallint] NOT NULL,
	[num_sin] [int] NOT NULL,
	[ser_sin] [smallint] NOT NULL,
	[num_ind] [smallint] NULL,
	[val_ind] [smallint] NULL,
	[fec_reg] [date] NULL,
	[cve_cap] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[smov_sin]    Script Date: 09/mar./2020 11:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[smov_sin](
	[suc_adm] [varchar](500) NULL,
	[ram_pur] [varchar](500) NULL,
	[num_sin] [varchar](500) NULL,
	[ser_sin] [varchar](500) NULL,
	[tip_mov] [varchar](500) NULL,
	[num_mov] [varchar](500) NULL,
	[cve_cob] [varchar](500) NULL,
	[tip_pro] [varchar](500) NULL,
	[id_pro] [numeric](18, 0) NULL,
	[rfc_ben] [varchar](500) NULL,
	[num_doc] [varchar](500) NULL,
	[cve_con] [varchar](500) NULL,
	[fec_mov] [varchar](500) NULL,
	[fec_pro] [varchar](500) NULL,
	[fec_apl] [varchar](500) NULL,
	[imp_mov] [varchar](500) NULL,
	[can_iva] [varchar](500) NULL,
	[can_ivr0] [varchar](50) NULL,
	[can_ret] [varchar](500) NULL,
	[est_mov] [varchar](500) NULL,
	[obs_mov] [varchar](500) NULL,
	[cve_cap] [varchar](500) NULL,
	[sum_ase] [varchar](500) NULL,
	[ded_cob] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sperdidat]    Script Date: 09/mar./2020 11:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sperdidat](
	[suc_adm] [varchar](500) NULL,
	[ram_pur] [varchar](500) NULL,
	[num_sin] [varchar](500) NULL,
	[ser_sin] [varchar](500) NULL,
	[tip_afe] [varchar](500) NULL,
	[num_afe] [varchar](500) NULL,
	[id_pt] [varchar](500) NULL,
	[tip_ben] [varchar](500) NULL,
	[num_ben] [varchar](500) NULL,
	[cam_prp] [varchar](500) NULL,
	[acr_prp] [varchar](500) NULL,
	[dec_ags] [varchar](500) NULL,
	[inf_aju] [varchar](500) NULL,
	[cmp_ide] [varchar](500) NULL,
	[fotos] [varchar](500) NULL,
	[tip_rob] [varchar](500) NULL,
	[act_con] [varchar](500) NULL,
	[pod_not] [varchar](500) NULL,
	[cmp_dom] [varchar](500) NULL,
	[car_pol] [varchar](500) NULL,
	[calcas] [varchar](500) NULL,
	[ver_veh] [varchar](500) NULL,
	[baj_pla] [varchar](500) NULL,
	[taj_rfv] [varchar](500) NULL,
	[jur_vol] [varchar](500) NULL,
	[valuaci] [varchar](500) NULL,
	[ave_prv] [varchar](500) NULL,
	[ent_lla] [varchar](500) NULL,
	[num_lla] [varchar](500) NULL,
	[ent_ala] [varchar](500) NULL,
	[num_ala] [varchar](500) NULL,
	[rep_ocr] [varchar](500) NULL,
	[rep_ami] [varchar](500) NULL,
	[fronte] [varchar](500) NULL,
	[num_avp] [varchar](500) NULL,
	[fac_ori] [varchar](500) NULL,
	[fec_ori] [varchar](500) NULL,
	[ult_fac] [varchar](500) NULL,
	[ult_fec] [varchar](500) NULL,
	[seg_fac] [varchar](500) NULL,
	[fac_end] [varchar](500) NULL,
	[fac_gds] [varchar](500) NULL,
	[num_fac] [varchar](500) NULL,
	[emi_fac] [varchar](500) NULL,
	[equ_esp] [varchar](500) NULL,
	[adaptac] [varchar](500) NULL,
	[tip_per] [varchar](500) NULL,
	[mto_iva] [varchar](500) NULL,
	[recibos] [varchar](500) NULL,
	[destino] [varchar](500) NULL,
	[ten1] [varchar](500) NULL,
	[ten1reg] [varchar](500) NULL,
	[ten2] [varchar](500) NULL,
	[ten2reg] [varchar](500) NULL,
	[ten3] [varchar](500) NULL,
	[ten3reg] [varchar](500) NULL,
	[ten4] [varchar](500) NULL,
	[ten4reg] [varchar](500) NULL,
	[ten5] [varchar](500) NULL,
	[ten5reg] [varchar](500) NULL,
	[ten6] [varchar](500) NULL,
	[ten6reg] [varchar](500) NULL,
	[tip_val] [varchar](500) NULL,
	[val_veh] [varchar](500) NULL,
	[por_ded] [varchar](500) NULL,
	[val_ded] [varchar](500) NULL,
	[pri_pnd] [varchar](500) NULL,
	[val_dem] [varchar](500) NULL,
	[val_iva] [varchar](500) NULL,
	[tot_fin] [varchar](500) NULL,
	[cve_cap] [varchar](500) NULL,
	[fec_reg] [varchar](500) NULL,
	[rfc_ben] [varchar](500) NULL,
	[tramite] [varchar](500) NULL,
	[fec_avp] [varchar](500) NULL,
	[Column 75] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sregistro]    Script Date: 09/mar./2020 11:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sregistro](
	[suc_adm] [varchar](300) NULL,
	[ram_pur] [varchar](300) NULL,
	[ser_sin] [varchar](300) NULL,
	[num_sin] [varchar](300) NULL,
	[suc_emi] [varchar](300) NULL,
	[ram_emi] [varchar](300) NULL,
	[num_pol] [varchar](300) NULL,
	[inc_pol] [varchar](300) NULL,
	[cve_cau] [varchar](300) NULL,
	[cve_age] [varchar](300) NULL,
	[cve_cli] [varchar](300) NULL,
	[mon_pol] [varchar](300) NULL,
	[sta_pol] [varchar](300) NULL,
	[ini_vig] [varchar](300) NULL,
	[fin_vig] [varchar](300) NULL,
	[fec_rep] [varchar](300) NULL,
	[hor_rep] [varchar](300) NULL,
	[tip_sin] [varchar](300) NULL,
	[nom_rep] [varchar](300) NULL,
	[pri_rep] [varchar](300) NULL,
	[seg_rep] [varchar](300) NULL,
	[num_edo] [varchar](300) NULL,
	[num_ent] [varchar](300) NULL,
	[fec_ocu] [varchar](300) NULL,
	[hor_ocu] [varchar](300) NULL,
	[ref_sin] [varchar](300) NULL,
	[tip_pro] [varchar](300) NULL,
	[id_pro] [varchar](300) NULL,
	[fec_aju] [varchar](300) NULL,
	[hor_aju] [varchar](300) NULL,
	[fec_ini] [varchar](300) NULL,
	[hor_ini] [varchar](300) NULL,
	[fec_ter] [varchar](300) NULL,
	[hor_ter] [varchar](300) NULL,
	[obs_sin1] [varchar](300) NULL,
	[obs_sin2] [varchar](300) NULL,
	[est_sin] [varchar](300) NULL,
	[cve_cap] [varchar](300) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tab_genprima]    Script Date: 09/mar./2020 11:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_genprima](
	[Column 0] [varchar](50) NULL,
	[Column 1] [varchar](50) NULL,
	[Column 2] [varchar](50) NULL,
	[Column 3] [varchar](50) NULL,
	[Column 4] [varchar](50) NULL,
	[Column 5] [varchar](50) NULL,
	[Column 6] [varchar](50) NULL,
	[Column 7] [varchar](50) NULL,
	[Column 8] [varchar](50) NULL,
	[Column 9] [varchar](50) NULL,
	[Column 10] [varchar](50) NULL,
	[Column 11] [varchar](50) NULL,
	[Column 12] [varchar](50) NULL,
	[Column 13] [varchar](50) NULL,
	[Column 14] [varchar](50) NULL,
	[Column 15] [varchar](50) NULL,
	[Column 16] [varchar](50) NULL,
	[Column 17] [varchar](50) NULL,
	[Column 18] [varchar](50) NULL,
	[Column 19] [varchar](50) NULL,
	[Column 20] [varchar](50) NULL,
	[Column 21] [varchar](50) NULL,
	[Column 22] [varchar](50) NULL,
	[Column 23] [varchar](50) NULL,
	[Column 24] [varchar](50) NULL,
	[Column 25] [varchar](50) NULL,
	[Column 26] [varchar](50) NULL,
	[Column 27] [varchar](50) NULL,
	[Column 28] [varchar](50) NULL,
	[Column 29] [varchar](50) NULL,
	[Column 30] [varchar](50) NULL,
	[Column 31] [varchar](50) NULL,
	[Column 32] [varchar](50) NULL,
	[Column 33] [varchar](50) NULL,
	[Column 34] [varchar](50) NULL,
	[Column 35] [varchar](50) NULL,
	[Column 36] [varchar](50) NULL,
	[Column 37] [varchar](50) NULL,
	[Column 38] [varchar](50) NULL,
	[Column 39] [varchar](50) NULL,
	[Column 40] [varchar](50) NULL,
	[Column 41] [varchar](50) NULL,
	[Column 42] [varchar](50) NULL,
	[Column 43] [varchar](50) NULL,
	[Column 44] [varchar](50) NULL,
	[Column 45] [varchar](50) NULL,
	[Column 46] [varchar](50) NULL,
	[Column 47] [varchar](50) NULL,
	[Column 48] [varchar](50) NULL,
	[Column 49] [varchar](50) NULL,
	[Column 50] [varchar](50) NULL,
	[Column 51] [varchar](50) NULL,
	[Column 52] [varchar](50) NULL,
	[Column 53] [varchar](50) NULL,
	[Column 54] [varchar](50) NULL,
	[Column 55] [varchar](50) NULL,
	[Column 56] [varchar](50) NULL,
	[Column 57] [varchar](50) NULL,
	[Column 58] [varchar](50) NULL,
	[Column 59] [varchar](50) NULL,
	[Column 60] [varchar](50) NULL,
	[Column 61] [varchar](50) NULL,
	[Column 62] [varchar](50) NULL,
	[Column 63] [varchar](50) NULL,
	[Column 64] [varchar](50) NULL,
	[Column 65] [varchar](50) NULL,
	[Column 66] [varchar](50) NULL,
	[Column 67] [varchar](50) NULL,
	[Column 68] [varchar](50) NULL,
	[Column 69] [varchar](50) NULL,
	[Column 70] [varchar](50) NULL,
	[Column 71] [varchar](50) NULL,
	[Column 72] [varchar](50) NULL,
	[Column 73] [varchar](50) NULL,
	[Column 74] [varchar](50) NULL,
	[Column 75] [varchar](50) NULL,
	[Column 76] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tagentes]    Script Date: 09/mar./2020 11:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tagentes](
	[rmdb_rn] [int] NOT NULL,
	[numage_ag] [int] NULL,
	[rfc_ag] [char](15) NULL,
	[nombre_ag] [char](30) NULL,
	[apepat_ag] [char](20) NULL,
	[apemat_ag] [char](20) NULL,
	[autori1_ag] [char](1) NULL,
	[autori2_ag] [char](1) NULL,
	[autori3_ag] [char](1) NULL,
	[autori4_ag] [char](1) NULL,
	[sexo_ag] [smallint] NULL,
	[calle_ag] [char](30) NULL,
	[numero_ag] [char](15) NULL,
	[codpos_ag] [int] NULL,
	[colonia_ag] [char](30) NULL,
	[municipio_ag] [char](20) NULL,
	[poblacion_ag] [char](30) NULL,
	[estado_ag] [smallint] NULL,
	[fismor_ag] [smallint] NULL,
	[edocivil_ag] [smallint] NULL,
	[telefono_ag] [char](20) NULL,
	[status_ag] [char](1) NULL,
	[fecstat_ag] [date] NULL,
	[regiva_ag] [char](12) NULL,
	[ced_ag] [char](15) NULL,
	[fecvcto_ag] [date] NULL,
	[benef1_ag] [char](45) NULL,
	[benef2_ag] [char](45) NULL,
	[fecingr_ag] [date] NULL,
	[clase_ag] [char](1) NULL,
	[fianza_ag] [char](1) NULL,
	[afianza_ag] [char](20) NULL,
	[numfianza_ag] [char](15) NULL,
	[fecinifza_ag] [date] NULL,
	[fecterfza_ag] [date] NULL,
	[fecactivo_ag] [date] NULL,
	[activo_ag] [smallint] NULL,
	[region_ag] [smallint] NULL,
	[sucurs_ag] [smallint] NULL,
	[oficin_ag] [smallint] NULL,
	[promot_ag] [smallint] NULL,
	[impche_ag] [smallint] NULL
) ON [PRIMARY]
GO
