@model SGC.tbl_Usuarios

@{
    ViewBag.Title = "SGC";
}





<div class="jumbotron">
    <h1>SiGECI</h1>
    <p class="lead">Sistema de Gestión de Capacidades e Indicadores</p>
    
    <table align="center">
        <td>

            <p class="lead">Ingrese su usuario</p>
            <p class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
            </p>
        </td>
        <table align="center">
            <td>
                <p class="lead">Contraseña</p>
                <p class="input-group input-group-lg">

                    <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon1">
                </p>
            </td>
        </table>


        <table align="center">
            <td>
                <input type="submit" name="BtnLogin" value="Iniciar Sesion" id="BtnLogin" class="BtnLogin" />
            </td>
        </table>

        <table align="center">
            <img src="~/Views/Tecnologico.jpg"
                 alt=""
                 width="200"
                 height="171"
                 title="Logo del Tecnologico">
        </table>
</div>

