@model SGC.tbl_Usuarios

@{
    ViewBag.Title = "Inicio";
}

<h2>SiGECI</h2>
<p class="lead">Sistema de Gestión de Capacidades e Indicadores</p>

<fieldset>
    
    @if (Session["Nom_Docente"] != null) {
        //Welcome @Session["Nom_Docente"].ToString() 
    } </fieldset>